---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';


import CallToAction from '../components/CallToAction.astro';

import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';


---

<BaseLayout title="Profil | Victoria Carré" description="Profil de Victoria Carré">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Profil"
				tagline="Découvrez mon parcours et mes competences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/atWork.jpg"
					alt="at work image"
				/>
			</Hero>


			<section>
				<h2 class="section-title">Mon Parcours</h2>
				<div class="content">
					<p>
						Après avoir obtenu mon baccalauréat avec une spécialité en mathématiques et physique, j'ai choisi de poursuivre mes études en <a href="/astroPortfolio/bts/">BTS SIO</a>, plus précisément en deuxième année avec l'option SLAM (Solutions Logicielles et Applications Métiers).

						Le choix de cette filière découle de ma passion pour les sciences et mon intérêt croissant pour les applications pratiques de l'informatique dans le monde professionnel. Actuellement, je me concentre sur le développement de solutions logicielles adaptées aux besoins spécifiques des organisations.

						Cette deuxième année de BTS offre des opportunités passionnantes pour appliquer mes connaissances théoriques à des projets concrets. Chaque défi représente une chance d'approfondir mes compétences et de comprendre davantage les nuances du domaine.

						Je suis enthousiaste à l'idée de contribuer au monde des solutions logicielles et des applications métiers. Mon parcours académique reflète mon engagement envers l'excellence et mon désir de jouer un rôle significatif dans le domaine de l'informatique appliquée.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Mes compétences</h2>
				<div class="content">
					<li>python</li>
					<li>C#</li>
					<li>PHP</li>
					<li>SQL</li>
					<li>CSS</li>
					<li>HTML</li>
					<li>Git & GitHub</li>
					<li>Visual Studio & VSCode</li>
					<li>Framework Symfony</li>
				</div>

			</section>

			<section>
				<h2 class="section-title">Me Contacter</h2>
				<div class="content">
					<li>mail : victoria.carre78@gmail.com</li>
					<li>tel : 06 02 35 58 56</li>
				</div>
			</section>


			<section>
				<h2 class="section-title">Voir mon CV</h2>
				<div class="content">
					<CallToAction href="https://github.com/Neritha/CV/blob/master/CV_Carre_Victoria.pdf">
						Télécharger le CV
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
					
				</div>

			</section>




		</main>

		<ContactCTA />
	</div>
</BaseLayout>



<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}


	.card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: var(--text-xl);
        color: var(--gray-0);
        margin-bottom: 8px;
    }



</style>