---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';


import CallToAction from '../components/CallToAction.astro';

import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';


---

<BaseLayout title="Profil | Victoria Carré" description="Profil de Victoria Carré">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Second stage"
				tagline="Découvrez mon parcours et mes competences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/stage.jpg"
					alt="at work image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Description de l'entreprise et contexte</h2>
				<div class="content">
					<p>
						Pendant mon stage de première année en BTS SIO option SLAM, j'ai eu l'opportunité de travailler au sein de l'entreprise Aton Aechnologies.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Organisation et technologies</h2>
				<div class="content">
					<p>
						Au cours de ce stage, j'ai été responsable de toutes les phases du développement de l'application, depuis la conception initiale jusqu'à sa mise en production. Travaillant en autonomie, j'ai dû faire preuve de créativité et de rigueur pour relever les défis techniques rencontrés tout au long du projet.

Mon rôle principal était de créer une interface utilisateur intuitive et fonctionnelle, permettant aux utilisateurs de visualiser facilement les données de mesure et d'interagir avec elles de manière efficace. J'ai également développé les fonctionnalités backend nécessaires pour récupérer, traiter et stocker les données de manière sécurisée.

En utilisant Symfony, j'ai pu mettre en place une architecture modulaire et évolutive pour l'application, ce qui m'a permis de gérer efficacement la complexité du projet. J'ai également exploré les différentes composantes du framework, telles que la gestion des bases de données avec Doctrine et la création de templates dynamiques avec Twig.
						
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Débouché</h2>
				<div class="content">
					<p>
						Ce stage m'a offert une expérience précieuse en développement web, me permettant d'approfondir mes compétences techniques et d'acquérir une compréhension approfondie des bonnes pratiques de développement logiciel. Je suis reconnaissant envers Aton technologies pour cette opportunité et je suis impatient d'appliquer les connaissances et les compétences acquises dans mes projets futurs.

					</p>
				</div>
			</section>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>



<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}


	.card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: var(--text-xl);
        color: var(--gray-0);
        margin-bottom: 8px;
    }



</style>