---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';


import CallToAction from '../components/CallToAction.astro';

import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';


---

<BaseLayout title="Profil | Victoria Carré" description="Profil de Victoria Carré">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Premier stage"
				tagline="Découvrez mon parcours et mes competences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/stage.jpg"
					alt="at work image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Description de l'entreprise et contexte</h2>
				<div class="content">
					<p>
						Pendant mon stage de première année en BTS SIO option SLAM, j'ai eu l'opportunité de travailler au sein de l'entreprise de mon père, Expertie qui se spécialise dans l'elaboration d'application pour des clients. Cette expérience m'a permis de découvrir les rouages de l'entreprise et d'appliquer mes connaissances en développement dans un contexte professionnel.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Organisation et technologies</h2>
				<div class="content">
					<p>
						Au cours de mon stage, j'ai été affecté à un projet captivant qui consistait à développer une application mobile utilisant Flutter. Mon rôle était de créer une application permettant de scanner des codes-barres.
						cette tâche, elle m'a permis de mettre en pratique mes compétences en développement et de relever les défis technologiques tout en en apprenant de nouvelle étant donné que cette technoogie mis était initialement étrangère. Cette expérience en solo a également souligné la flexibilité et l'adaptabilité nécessaires pour réussir
						
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Réalisation</h2>
				<div class="content">
					<p>
						Malheureusement, le projet n'a pas abouti comme prévu en raison de divers défis techniques rencontrés en cours de route. Cependant, cette expérience m'a permis de développer mes compétences en programmation mobile avec Flutter ainsi que l'utilisation d'API, d'identifier des problématiques réelles de développement de logiciels, et d'apprendre à résoudre des obstacles imprévus. Bien que l'application n'ait pas été finalisée, 

Ce stage a été une étape cruciale dans mon parcours académique et professionnel, m'offrant une vision concrète du monde du travail tout en enrichissant mes compétences techniques et en développant ma capacité à résoudre des problèmes. Ces enseignements seront indéniablement précieux pour la suite de mon cursus en BTS SIO et au-delà.

[voir le projet sur GitHub](https://github.com/Neritha/FlutterTest)

					</p>
				</div>
			</section>

		




		</main>

		<ContactCTA />
	</div>
</BaseLayout>



<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}


	.card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: var(--text-xl);
        color: var(--gray-0);
        margin-bottom: 8px;
    }



</style>