---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Profil | Victoria Carré" description="Profil de Victoria Carré">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Veille Technologique"
				tagline="Découvrez ma veille technologique"
			>
				<img
					width="1553"
					height="873"
					src="/assets/atWork2.jpg"
					alt="at work image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Definition d'une veille technologique</h2>
				<div class="content">
					<p>
						La veille technologique consiste à surveiller et analyser de manière systématique les avancées et innovations technologiques pour anticiper les changements, identifier les tendances et prendre des décisions éclairées afin de rester compétitif.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Sujet</h2>
				<div class="content">
					<p>
						Les algorythmes de la blockhaine
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Pourquoi avoir choisi ce sujet ?</h2>
				<div class="content">
					<p>On entend souvent parler de la blockchaine et de son inportance toujours croissante dans notre société et le monde. Seulement très peu savent réélement ce qu'est la blockaine et moi la première. J'ai donc choisi ce sujet afin d'élargir ma connaisance de cette technologie et d'en apprendre toujours plus à ce sujet.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Description du sujet</h2>
				<div class="content">
					<p>Le but de cette veille techno va être de ce tenir au courrant de l'avancer de la blockchaine et de ces algorytmes ainsi que de leur impactes dans le monde. </p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Outils et méthodes</h2>
				<div class="content">
					<p>
						Afin de recolter les informations neccessaire à ma veille technologique j'ai utiliser certain outil comme differentes newletter afin de rester informer des nouveau articles sortie à ce sujet ainsi que les réseaux sociaux qui sont une mine d'or d'information pour notre époque. Notons tout de même que ces dernières informations sont à prendre avec des pincettes au vu de leur obectiviter ainsi que de leur sources. Cela engendre donc un travaille supplementaire de filtage de l'information. D'autre part, pour rerouper et ordonée ces donné j'ai fait le choix d'utiliser deux autres outils qui sont pearltrees ainsi que le logiciel Obsidian particuli-rement adapter à la prise de note
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Définition de la bockchaine</h2>
				<div class="content">
					<p>
						La blockchain est une technologie de stockage et de transmission d'informations de manière transparente, sécurisée et décentralisée. Elle se compose d'une chaîne de blocs (d'où le nom), chaque bloc contenant un ensemble d'informations et reliant de manière sécurisée au bloc précédent. Cela crée une base de données distribuée et immuable, utilisée notamment pour enregistrer des transactions financières dans les cryptomonnaies comme le Bitcoin. L'intégrité de la blockchain est assurée par des mécanismes de consensus, ce qui la rend résistante à la falsification et à la censure.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Liens</h2>
				<div class="content">
					<p>
						Les algorythmes de la blockhaine
					</p>
				</div>
			</section>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>